html {
  font-size: 62.5%;
  font-family: "Roboto Slab", serif;
}
body {
  overflow: auto;
  overflow-x: hidden;
}
.flex-hz{
  display: flex;
  flex-direction: row;
}
.flex-vt{
  display: flex;
  flex-direction: column;
}
:root{
  --primary-text-color:#F2DDC1;
  --primary-text-color:#694E4E;
}